Button {
    -fx-pref-width: 150px;
    -fx-pref-height: 60px;
    -fx-border-width: 3px;
    -fx-border-color: #e42424;
    -fx-border-radius: 45px;
    -fx-background-color:  #7fe6e6;
    /*-fx-font-size: 1.2em;*/
    -fx-cursor: hand;
    /*-fx-effect: dropshadow(three-pass-box, #315cfd, 10, 0, 0, 0);*/
    -fx-transition: all 0.3s;
}

Button:hover {
    -fx-background-color: #e42424;
    -fx-text-fill: white;
    -fx-font-size: 1.5em;
}